@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 30px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

h1, h2, h3, h4, h5, h6, p, li, span, a, input {
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

.server-item {
  background-color:#1e1e1e  ;
  color:#fff;
  width:calc(25% - 60px);
  padding:15px 20px;
  margin:10px;
  word-wrap: break-word;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.server-item a {
  background-color:#E3FF23;
  color:#1e1e1e;
  padding: 10px 15px;
  text-decoration:none;
  width:60%;
  display:inline-block;
  margin: 0 auto;
  transition:all ease 0.4s;
}
.server-item a:hover {
  background-color:#666;
  color:#E3FF23;
  border-radius:15px;
}
.status-text {
  font-weight: 900;
}
.status-text.green {
  color:#5f4;
}
.status-text.orange{
  color:#a45;
}
.status-text.grey {
  color:#679;
}
.status-text.red {
  color:#f21;
}
.server-list {
list-style: none;
padding: 0px;
margin: 15px;
display: inline-flex;
flex-direction: row;
flex-wrap: wrap;
}

input[type="text"] {
    padding: 10px;
    margin: 20px 10px;
    background-color: #E3FF23;
    border: none;
    font-size: 16px;
    color:#1e1e1e;
    text-align: center;
    width: calc(100% - 200px);
}

form {
    background-color: #1e1e1e;
    margin: 10px 25px;
}

input[type="submit"] {
    background-color: #5f4;
    border: none;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 120px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% {
    transform:  rotate(0deg) ;
  }
  25% {
    transform:  rotate(-10deg) ;
  }
  50% {
    transform:  rotate(0deg) ;
  }
  75% {
    transform:  rotate(10deg) ;
  }
  100% {
    transform:  rotate(0deg) ;
  }
}

@media (max-width:767px) {
  .server-item {
    width:100%;
    margin:10px 10px 10px 10px;
  }
  .server-item:first-child {
    margin:20px 10px 10px 10px;
  }
  .server-item:last-child {
    margin:10px 10px 20px 10px;
  }
}
